<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css" />
		<link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/icon.css">

    </head>

	<body>
    <div class="w100 notice-wrapper">
        <div class="w notice clearfix">
            <div class="notice-tag fl">网站公告：</div>
            <div class="notice-move fl">
                <div class="notice-content">
                    <span class="icon-flag" style="margin-right: 10px;"></span>我是一条滚动的字幕公告啊啊啊啊啊啊啊啊啊啊啊啊啊啊
                </div>
            </div>
        </div>
    </div>
    <div class="w100 site-name-wrapper">
        <div class="w site-name clearfix">
            <a href="index.html" class="logo fl">
                武汉叉叉叉叉叉叉哈股份有限公司
                <!--<img src=""/>-->
            </a>
            <div class="contact fr">
                <div class="title">
                    <span class="icon-phone"></span>
                    咨询热线
                </div>
                <div class="phone">15011111111</div>
            </div>
        </div>
    </div>
		<div class="w100">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="../img/2.jpg" />
					</div>
					<div class="swiper-slide">
						<img src="../img/3.jpg" />
					</div>

				</div>
				<!-- 如果需要分页器 -->
				<div class="swiper-pagination"></div>

			</div>
		</div>
		<div class="w100 nav-wrapper">
			<div class="nav w">
				<a href="../home.html">网站首页</a>
				<a href="service.html">服务项目</a>
				<a href="about.html" class="active">关于我们</a>
				<a href="contact.html">联系我们</a>
			</div>
		</div>
		<div class="w100 page-about">
			<div class="section-top">
				<div class="section-enname">
					ABOUT US
				</div>
				<div class="section-name" style="background-color: #fff;">
					<div class="inner">
						关于我们
					</div>
				</div>
			</div>
			<div class="page-about-list clearfix w">
				<div class="level">
					信息咨询服务有限公司是一家咨询实力雄厚、工作设备先进，专业守法的市场商务咨询有限公司。公司总部设在武汉，业务涉及市场调研咨询、商业信息咨询、婚姻背景咨询、婚姻和睦咨询、财产咨询等业务，公司凭借优良的职业素养、扎实的专业基础、经过长期的探索、总结、完善诸多方面一度成为该行业的标杆，一直积极致力于我国咨询调查行业的规范和良性发展。公司手续完善、专业过硬、设备精良，服务高效。公司的工作人员大部分来自复员退伍军人，公检法离退休人员，各有特长，并经公司统一不间断的进行素质和业务培训，我们有专业的律师团队。我们的职业道德是一流的，我们的业务水平是不断提高的，我们的团队是团结协作和强大高效的！多年的历练、煎熬、摸索，我们不曾在在风雨中动摇，不曾在困难前退缩。始终以“追求完美，超越卓越”为工作准则，以“最大限度的达成客户需求”为服务根本。   
				</div>
				<div class="level">
					信息咨询服务有限公司多年来为企业和个人提供婚姻家庭纠纷调查、寻查转移存款和财产的专业服务。公司硬件成熟、手段丰富、观念超新，具有高效、诚信、迅速的特点。公司运用新型调查手段，以快速度，准确的事实真相回报客户，以合理的收费，优质的服务，给您满意的结果。用真诚捍卫客户的权益不受侵害！对客户的一切隐私保密，您可以参考我们公司的保密协议。相信我们的优质服务 值得您长期信赖。让您委托的的放心。
				</div>
				<div class="level">
					我们秉承诚信专业，保密快捷的工作原则等待您的垂询！咨询热线：12345678910
				</div>
			</div>
		</div>

		<!--底部-->
		<div class="w100 footer">
			<div class="w">
				<div class="footer-info">
					<div class="footer-contact">
						<span>地址：该地址仅供测试测试测试</span>
						<span>电话：139313131331 </span>
						<span>手机：13971634015</span>
					</div>
					<div class="footer-copyright">
						Copyright © 2016-2017 *********公司 版权所有
					</div>
					<div class="footer-beian">
						ICP备案编号：鄂ICP备******
					</div>
				</div>

			</div>
		</div>
	</body>
	<script src="../lib/jquery-1.11.1.min.js"></script>
	<script src="../lib/swiper.jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/base.js"></script>
	<script type="text/javascript">
		$(function() {
			var swiper = new Swiper('.swiper-container', {
				pagination: '.swiper-pagination',
				paginationClickable: true,
				autoplay: 4000,
			});

		})
	</script>

</html>