.notice-wrapper {
  height: 30px;
  background-color: #000;
}
.notice-wrapper .notice {
  height: 30px;
  line-height: 30px;
  color: #fff;
}
.site-name-wrapper {
  background-color: #efefef;
  padding: 15px 0;
  border-bottom: 2px solid #5D84C9;
}
.site-name-wrapper .site-name {
  height: 60px;
}
.site-name-wrapper .site-name .logo {
  line-height: 60px;
  color: #000;
  font-size: 24px;
  font-weight: bold;
}
.site-name-wrapper .site-name .contact {
  height: 60px;
  text-align: right;
}
.site-name-wrapper .site-name .contact .title {
  color: #5D84C9;
  font-size: 20px;
}
.site-name-wrapper .site-name .contact .phone {
  font-size: 24px;
  padding: 5px 0;
}
.swiper-container {
  height: 350px;
}
.nav-wrapper {
  height: 50px;
  line-height: 50px;
  background-color: #5D84C9;
}
.nav-wrapper .nav {
  height: 50px;
  text-align: center;
}
.nav-wrapper .nav a {
  color: #fff;
  display: inline-block;
  width: 100px;
  height: 50px;
}
.nav-wrapper .nav a:hover {
  text-decoration: underline;
}
.nav-wrapper .nav a.active {
  background-color: #044bca;
}
.service-wrapper {
  background-color: #f5f5f5;
}
.section-top {
  position: relative;
  height: 90px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}
.section-top .section-enname {
  font-size: 28px;
  color: #5D84C9;
  text-align: center;
  padding: 40px 0 0 0;
}
.section-top .section-name {
  position: absolute;
  left: 50%;
  bottom: -1px;
  z-index: 1;
  width: 104px;
  height: 15px;
  background-color: #F5F5F5;
  margin-left: -52px;
}
.section-top .section-name .inner {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  text-align: center;
  width: 100%;
  line-height: 30px;
  border-left: 2px solid #ef8700;
  border-right: 2px solid #ef8700;
  font-size: 20px;
}
.service-item {
  width: 390px;
  float: left;
  margin-right: 15px;
}
.service-item .title {
  height: 40px;
  line-height: 40px;
}
.service-item .title .main {
  font-size: 20px;
  color: #5D84C9;
  font-weight: bold;
}
.service-item .title .sub {
  margin-left: 15px;
  color: #999;
}
.service-item .list {
  width: 100%;
}
.service-item .list a {
  float: left;
  display: block;
  width: 195px;
  height: 30px;
  line-height: 30px;
  color: #333;
}
.service-item .list a:hover {
  color: #5D84C9;
  text-decoration: underline;
}
.service-item .list i {
  vertical-align: top;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 7px;
  margin-right: 5px;
}
.service-item .more {
  width: 100%;
}
.service-item .more a {
  float: left;
  display: block;
  width: 195px;
  height: 30px;
  line-height: 30px;
  color: #5D84C9;
  font-size: 14px;
}
.service-item .more a:hover {
  text-decoration: underline;
}
.service-item .more i {
  vertical-align: top;
  display: inline-block;
  width: 16px;
  height: 16px;

  margin-top: 7px;
  margin-right: 5px;
}
.service-item:last-child {
  margin-right: 0;
}
.service {
  padding: 40px 0;
}
.footer {
  height: 150px;
  background-color: #000;
}
.footer-info {
  color: #fff;
  font-size: 14px;
}
.footer-info .footer-contact {
  text-align: center;
  padding-top: 50px;
}
.footer-info .footer-contact span {
  margin: 0 20px;
}
.footer-info .footer-copyright {
  text-align: center;
  margin-top: 20px;
}
.footer-info .footer-beian {
  text-align: center;
  margin-top: 10px;
}
.page-service {
  min-height: 120px;
}
.page-service-list {
  padding: 30px 0;
}
.page-service-list .item {
  float: left;
  width: 270px;
  margin-right: 40px;
}
.page-service-list .item a {
  display: block;
}
.page-service-list .item a:hover .desc {
  background-color: #5D84C9;
}
.page-service-list .item a img {
  width: 270px;
  display: block;
}
.page-service-list .item a .desc {
  height: 35px;
  line-height: 35px;
  background-color: #000;
  color: #fff;
  text-align: center;
}
.page-service-list .item:last-child {
  margin-right: 0;
}
.page-about-list .level {
  margin: 50px 0 20px 0;
  text-indent: 2em;
  color: #333;
  line-height: 26px;
}
.contact-info .item {
  margin-bottom: 15px;
}
.contact-map {
  height: 500px;
  margin-bottom: 50px;
}
/*# sourceMappingURL=style.css.map */
